<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="skcats">
		<title></title>
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
        <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assets/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
        <link th:href="@{/assets/css/custom.css}" rel="stylesheet">
	</head>
	<style>
    .layui-table-page {
        text-align: center;
    }

    .utable .layui-laypage .layui-laypage-curr .layui-laypage-em {
        background-color: #1E9FFF;
    }
    .layui-input-inline{margin-left: 50px;}
    .layui-form-item{margin-top: 20px;}
    .layui-form-label{width: 80px;}
	</style>
<body>
<!--数据表格样式及附件-->	
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">
        <i class="layui-icon">&#xe642;</i>编辑
    </a>
    <a class="layui-btn layui-btn-xs" lay-event="ck">
        <i class="layui-icon">&#xe6b2;</i>查看
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon">&#xe640;</i>丢弃
    </a>
	</script>
	<script type="text/html" id="sexTpl">
	    {{#  if(d.emp_sex === '女'){ }}
	    <span style="color: #F581B1;">{{ d.emp_sex }}</span>
	    {{#  } else { }}
	    {{ d.emp_sex }}
	    {{#  } }}
	</script>
 <!--搜索栏-->
  <div class="layui-form-item">
    <div class="layui-inline">
      
      <div class="layui-input-inline">
        <input type="text" name="number" lay-verify="required|number" autocomplete="off" class="layui-input">
      </div>
     <label class="layui-form-label">验证</label>
    </div>
    <div class="layui-inline">
     
      <div class="layui-input-inline">
        <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
      </div>
        <label class="layui-form-label">验证</label>
    </div>
    <div class="layui-inline">
      
      <div class="layui-input-inline">
        <input type="tel" name="url" lay-verify="url" autocomplete="off" class="layui-input">
      </div>
      <label class="layui-form-label">验证</label>
       <button type="button" class="btn btn-info btn-addon"><i class="fa fa-spin fa-refresh"></i> 查找</button>
    </div>
  </div>

<!--数据表格  数据表格使用的是方法渲染-->
<div class="utable">
<table class="layui-table"
       lay-data="{width:1150,height:650, url:'/reply/replydata', page:true, id:'tab',toolbar: '#toolbarDemo' }"
       lay-filter="test">
    <thead>
    <tr>
        <th lay-data="{type: 'checkbox', fixed: 'left'}"></th>
        <th lay-data="{field:'replyid', width:80, sort: true}">成绩id</th>
        <th lay-data="{field:'studentid', width:80}">学生id</th>
        <th lay-data="{field:'projectid', width:80}">关联答辩项目</th>
        <th lay-data="{field:'empid', width:100}">打分老师管理员工id</th>
        <th lay-data="{field:'score1', width:100}">功能完善50</th>
        <th lay-data="{field:'score2', width:100}">技术难度10</th>
        <th lay-data="{field:'score3', width:100}">界面完美10</th>
        <th lay-data="{field:'score4', width:100}">回答问题10</th>
        <th lay-data="{field:'score5', width:100}">演示方法10</th>
        <th lay-data="{field:'score6', width:100}">语言表达10</th>
        <th lay-data="{field:'score7', width:100}">总分100</th>
        <th lay-data="{field:'remark', width:100}">备注</th>
        <th lay-data="{fixed: 'right', title:'操作', toolbar: '#bar', width:252}"></th>
    </tr>
    </thead>
</table>
</div>
</body>
    <script th:src="@{/js/register/jquery-3.1.0.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="none">
    layui.use('table', function () {
        var table = layui.table;


        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    layer.msg("添加")
                     var data = checkStatus.data;
                     layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        })
        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除么?', function (index) {
                    alert(data.replyid);
                    obj.del();
                    layer.close(index);
                    $.ajax({
                        url: '/reply/del',
                        type: 'post',
                        data: {
                            replyid:data.replyid
                        },
                        dataType: 'text',
                    })
                });
            } else if (obj.event === 'edit') {
                layer.msg(data.studid);
            }else if (obj.event === 'ck') {

            }
        })

    })
</script>
</html>