<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/register/jquery-3.1.0.min.js}"></script>
</head>
<style>
    .index{width: 600px;margin-left: 30px;}
    .layui-input{width: 120px;}
    .menu li{float: left;}
    .layui-form-label{margin-top: 15px}
    .layui-input{margin-top: 15px}
    button{margin-top: 70px;margin-left: 10px}

    ::-webkit-scrollbar {display:none}/*隐藏横向滚动条但可以滚动*/
</style>
<body>
<form class="layui-form" th:action="@{/studentClass/add}">
    <div class="index">
        <ul class="menu">
            <li>
                <label class="layui-form-label">分班编号：</label>
                <input  name="classid" required lay-verify="required" placeholder="分班编号" autocomplete="off" class="layui-input">
            </li>
            <li>
                <label class="layui-form-label"> 班级编号：</label>
                <input  name="classno" required lay-verify="required" placeholder="班级编号" autocomplete="off" class="layui-input">
            </li>
                <li>
                    <label class="layui-form-label"><i class="layui-icon">&#xe66c;</i> 院系</label>
                    <input  name="deptid" required lay-verify="required" placeholder="院系" autocomplete="off" class="layui-input">
                </li>
                <li>
                    <label class="layui-form-label"><i class="layui-icon">&#xe663;</i> 专业</label>
                    <input  name="majorid" required lay-verify="required" placeholder="专业" autocomplete="off" class="layui-input">
                </li>
            <li>
                <label class="layui-form-label"> 班级名称：</label>
                <input  name="classname" required lay-verify="required" placeholder="班级名称" autocomplete="off" class="layui-input">
            </li>
            <li>
                <label class="layui-form-label"> 班级人数：</label>
                <input name="count" required lay-verify="required" placeholder="班级人数" autocomplete="off" class="layui-input">
            </li>
            <li>
                <label class="layui-form-label"> 授课老师：</label>
                <input  name="teacher" required lay-verify="required" placeholder="授课老师" autocomplete="off" class="layui-input">
            </li>
            <li>
                <label class="layui-form-label"><i class="layui-icon">&#xe66f;</i> 班主任：</label>
                <input  name="classteacher" required lay-verify="required" placeholder="班主任" autocomplete="off" class="layui-input">
            </li>
            <li>
                <label class="layui-form-label"><i class="layui-icon">&#xe6b2;</i> 备注：</label>
                <input  name="remark" required lay-verify="required" placeholder="备注" autocomplete="off" class="layui-input">
            </li>
            <li>
                <label class="layui-form-label">班级类别：</label>
                <input  name="falled" required lay-verify="required" placeholder="班级类别" autocomplete="off" class="layui-input">
            </li>
        </ul>
        <button class="layui-btn layui-btn-radius layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button><!--测试提交值的时候把 lay-filter="formDemo"注释掉可直接提交-->
        <button type="reset" class="layui-btn layui-btn-radius layui-btn-warm">重新填写</button>
    </div>
</form>
</body>
<script type="text/javascript" th:inline="none">
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        //你可以在这里做操作  也可以不使用这个方法
        // form.on('submit(formDemo)', function(data){
        //     layer.msg(JSON.stringify(data.field));
        //     return true;//true为允许提交，false为不可
        // });
    });
</script>
</html>