<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/register/jquery-3.1.0.min.js}"></script>
</head>
<style>
    ::-webkit-scrollbar {display:none}/*隐藏横向滚动条但可以滚动*/
</style>
<body>
<form class="layui-form" th:action="@{/studentClass/add}">

    <div class="layui-form-item" style="margin-top: 20px;">
        <label class="layui-form-label">宿舍房号</label>
        <div class="layui-input-inline">
            <input  name="huorname" required lay-verify="required" placeholder="请输入宿舍房号" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">宿舍地址</label>
        <div class="layui-input-inline">
            <input  name="addr" required lay-verify="required" placeholder="请输入宿舍地址" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" style="margin-top: 20px;">
        <label class="layui-form-label">宿舍人数</label>
        <div class="layui-input-inline">
            <input name="count" type="number" required lay-verify="required"  id="count" placeholder="请输入宿舍人数"
                   autocomplete="off" class="layui-input" onkeyup="limitInput(this);">
        </div>
        <label class="layui-form-label">总床位数</label>
        <div class="layui-input-inline">
            <input name="numberbeds" type="number" id="number" onkeyup="limitInput(this);"
                   required lay-verify="required"  placeholder="请输入床位数" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所在楼栋</label>
        <div class="layui-input-block" style="width: 500px">
            <select   name="floorid">
                <option value="">请选择所在楼栋</option>
                <option th:each="l:${studentFloorList}"th:value="${l.floorid}" th:text="${l.floorname}"></option>
            </select>
        </div>
    </div>

    <div class="layui-form-item" style="margin-left: 130px">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-radius layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button><!--测试提交值的时候把 lay-filter="formDemo"注释掉可直接提交-->
            <button type="reset" class="layui-btn layui-btn-radius layui-btn-warm">重新填写</button>
        </div>
    </div>
</form>
</body>
<script type="text/javascript" th:inline="none">
    var i = document.getElementById("number").value;;
    var j = document.getElementById("count").value;
    function limitInput(o){
        var number = document.getElementById("number")//总床位
        var count = document.getElementById("count")//宿舍人数
        var countValue = count.value;
        var numberValue = number.value;
        var min=0;
        var max=8;
        if (countValue != "" && numberValue != ""){
            max = numberValue;
            min = countValue;
        }
        if(parseInt(countValue)<0||parseInt(countValue)>max || parseInt(numberValue)<min){
            alert('床位不够了');
            count.value=j;
            number.value=i;
        }
    }



    layui.use('form', function(){
        var form = layui.form;
        form.on('select(selectTheme)', function (data) {//对应lay-filter="selectTheme"
            var index1 = $('#board option:selected').val();//对应id="board"  得到一级菜单选中值的value
            var optionJson = [];
            $.ajax({
                url: "/studentClass/byDeptId",//对应controller层
                type: "post",
                data: {"id": index1},//将选中值的value传给controller
                datatype: "json",
                success: function (data) {
                    optionJson = data;
                    var selectObj = document.getElementById("theme");//对应id="theme"
                    selectObj.options.length = 0;
                    for (var i = 0; i < data.length; i++) {
                        selectObj.add(new Option(optionJson[i].majorname, optionJson[i].majorid));//对应数据库中名字，两个参数是(文本,value)
                    }
                    form.render();
                }
            })
        });

        //监听提交
        //你可以在这里做操作  也可以不使用这个方法
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url: '/studentHuor/add',
                type: 'post',
                data:data.field,
                dataType: 'json',
                success:function(data){
                    if(data != 0){
                        //先得到当前iframe层的索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //再执行关闭
                        parent.layer.close(index);
                        layer.msg(JSON.stringify("添加成功"));
                        window.parent.location.reload();
                    }else {
                        layer.msg('数据错误，添加失败！', { icon: 5, time: 2000 });
                    }
                },
            })
            return false;
        });
    });
</script>
</html>