<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/register/jquery-3.1.0.min.js}"></script>
</head>
<style>
    .index{width: 520px;margin-left: 50px;}
    .layui-input{width: 120px;}
    .menu li{float: left;}
    .layui-form-label{margin-top: 15px}
    .layui-input{margin-top: 15px}
    button{margin-top: 70px;margin-left: 20px}
    ::-webkit-scrollbar {display:none}/*隐藏横向滚动条但可以滚动*/
</style>
<body>
<form class="layui-form" th:action="@{/studentClass/add}">
    <div class="index">
        <ul class="menu">
            <!--            <li>-->
            <!--                <label class="layui-form-label">分班编号：</label>-->
            <!--                <input  name="classid" required lay-verify="required" placeholder="分班编号" autocomplete="off" class="layui-input">-->
            <!--            </li>-->
            <li>
                <label class="layui-form-label"> 宿舍房号：</label>
                <input  name="huorname" required lay-verify="required" placeholder="宿舍房号" autocomplete="off" class="layui-input">
            </li>
            <li>
                <label class="layui-form-label"> 宿舍地址：</label>
                <input  name="addr" required lay-verify="required" placeholder="宿舍地址" autocomplete="off" class="layui-input">
            </li>
            <li>
                <label class="layui-form-label"> 宿舍人数：</label>
                <input name="count"  required lay-verify="required" placeholder="宿舍人数" autocomplete="off" class="layui-input"
                       onkeyup="limitInput(this);">
            </li>

            <li>
                <label class="layui-form-label"> 总床位数：</label>
                <input name="numberbeds" id="count"   required lay-verify="required"  placeholder="床位数" autocomplete="off" class="layui-input">
            </li>
<li><br> <br></li>

            <li>
                <label ><i class="layui-icon">&#xe705;</i> 所在楼栋：</label>
                <select   name="teacher">
                    <option value="0">请选择所在楼栋</option>
                    <option th:each="l:${studentFloorList}"th:value="${l.floorid}" th:text="${l.floorname}"></option>
                </select>
            </li>











        </ul>
        <button class="layui-btn layui-btn-radius layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button><!--测试提交值的时候把 lay-filter="formDemo"注释掉可直接提交-->
        <button type="reset" class="layui-btn layui-btn-radius layui-btn-warm">重新填写</button>
    </div>
</form>
</body>
<script type="text/javascript" th:inline="none">
    function limitInput(o){
        var number = document.getElementById("number")
        var count = document.getElementById("count")
        var value=o.value;
        var min=0;
        var max=8;
        if(parseInt(value)<min||parseInt(value)>max){
            alert('输入错误');
            o.value='';
        }else{
            number.value = count.value - value;
        }
    }

    layui.use('form', function(){
        var form = layui.form;



        form.on('select(selectTheme)', function (data) {//对应lay-filter="selectTheme"
            var index1 = $('#board option:selected').val();//对应id="board"  得到一级菜单选中值的value
            var optionJson = [];
            $.ajax({
                url: "/studentClass/byDeptId",//对应controller层
                type: "post",
                data: {"id": index1},//将选中值的value传给controller
                datatype: "json",
                success: function (data) {
                    optionJson = data;
                    var selectObj = document.getElementById("theme");//对应id="theme"
                    selectObj.options.length = 0;
                    for (var i = 0; i < data.length; i++) {
                        selectObj.add(new Option(optionJson[i].majorname, optionJson[i].majorid));//对应数据库中名字，两个参数是(文本,value)
                    }
                    form.render();
                }
            })
        });

        //监听提交
        //你可以在这里做操作  也可以不使用这个方法
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url: '/studentClass/add',
                type: 'post',
                data:data.field,
                dataType: 'json',
                success:function(data){
                    if(data != 0){
                        //先得到当前iframe层的索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //再执行关闭
                        parent.layer.close(index);
                        layer.msg(JSON.stringify("添加成功"));
                        window.parent.location.reload();
                    }else {
                        layer.msg('数据错误，添加失败！', { icon: 5, time: 2000 });
                    }
                },
            })
            return false;
        });
    });
</script>
</html>