<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="skcats">
		<title></title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
        <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assets/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
        <link th:href="@{/assets/css/custom.css}" rel="stylesheet">
	</head>
	<style>
    .layui-table-page {
        text-align: center;
    }

    .utable .layui-laypage .layui-laypage-curr .layui-laypage-em {
        background-color: #1E9FFF;
    }
    .layui-input-inline{margin-left: 50px;}
    .layui-form-item{margin-top: 20px;}
    .layui-form-label{width: 80px;}
	</style>
<body>
<!--数据表格样式及附件-->
<script type="text/html" id="bar">
    <a id="edit" class="layui-btn layui-btn-xs" lay-event="edit">
        <i class="layui-icon">&#xe642;</i>重置密码
    </a>
    <a class="layui-btn layui-btn-xs" lay-event="ck">
        <i class="layui-icon">&#xe6b2;</i>查看
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon">&#xe640;</i>丢弃
    </a>
</script>
<script type="text/html" id="sexTpl">
    {{#  if(d.emp_sex === '女'){ }}
    <span style="color: #F581B1;">{{ d.emp_sex }}</span>
    {{#  } else { }}
    {{ d.emp_sex }}
    {{#  } }}
</script>
<!--搜索栏-->
<div class="layui-form-item">
    <div class="layui-inline">

        <div class="layui-input-inline">
            <input type="text" name="number" lay-verify="required|number" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">验证</label>
    </div>
    <div class="layui-inline">

        <div class="layui-input-inline">
            <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">验证</label>
    </div>
    <div class="layui-inline">

        <div class="layui-input-inline">
            <input type="tel" name="url" lay-verify="url" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">验证</label>
        <button type="button" class="btn btn-info btn-addon"><i class="fa fa-spin fa-refresh"></i> 查找</button>
        <button id="add" type="button" class="btn btn-info btn-warning"><i class="fa fa-plus"></i> 添加</button>
    </div>
</div>

<!--数据表格  数据表格使用的是方法渲染-->
<div class="utable">
<table class="layui-table"
       lay-data="{width:1150,height:650, url:'/stu/studata', page:true, id:'tab',toolbar: '#toolbarDemo' }"
       lay-filter="test">
    <thead>
    <tr>
        <th lay-data="{type: 'checkbox', fixed: 'left'}"></th>
        <th lay-data="{field:'studid', width:80, sort: true}">学生id</th>
        <th lay-data="{field:'stuname', width:80}">学生姓名</th>
        <th lay-data="{field:'sex', width:80}">性别</th>
        <th lay-data="{field:'age', width:100}">年龄</th>
        <th lay-data="{field:'birthday', width:100}">出生年月</th>
        <th lay-data="{field:'phone', width:100}">学生电话</th>
        <th lay-data="{field:'addr', width:100}">家庭地址</th>
        <th lay-data="{field:'stat', width:100}">学生状态</th>
        <th lay-data="{field:'nation', width:100}">民族</th>
        <th lay-data="{fixed: 'right', title:'操作', toolbar: '#bar', width:252}"></th>
    </tr>
    </thead>
</table>
</div>
</body>
    <script th:src="@{/js/register/jquery-3.1.0.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="none">
    layui.use('table', function () {
        var table = layui.table;

        //点击添加iframe窗方法
        $("#add").on('click',function(){
            //iframe窗
            layer.open({
                type: 2,
                title: '员工新增',
                maxmin: true, //开启最大化最小化按钮
                area: ['1000px', '500px'],
                content: ['/stu/toadd']//这是链接你的页面地址 url
            });
        })

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    layer.msg("添加")
                     var data = checkStatus.data;
                     layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        })
        function ck(id) {
            layer.open({
                type: 2,
                title: '员工新增',
                maxmin: true, //开启最大化最小化按钮
                area: ['1000px', '500px'],
                content: ['/stu/select?studid='+id]//这是链接你的页面地址 url
            });
        }
        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            var id = data.studid;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除么?', function (index) {
                    obj.del();
                    layer.close(index);

                    $.ajax({
                        url: '/stu/del',
                        type: 'post',
                        data: {
                            studid:data.studid
                        },
                        dataType: 'text',
                    })
                });
            } else if (obj.event === 'edit') {
                $.ajax({
                    url: '/stu/reset',
                    type: 'post',
                    data: {
                        studid:data.studid
                    },
                    dataType: 'text',
                })
            }else if (obj.event === 'ck') {
                ck(id);
            }
        })

    })
</script>
</html>