<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/register/jquery-3.1.0.min.js}"></script>
</head>
<style>
    .index{width: 800px;margin-left: 30px;height: 500px}
    .layui-input{width: 120px;}
    .menu li{float: left;}
    .layui-form-label{margin-top: 15px}
    .layui-input{margin-top: 15px}
    button{margin-left: 140px;margin-top: 20px;}

    ::-webkit-scrollbar {display:none}/*隐藏横向滚动条但可以滚动*/
</style>
<body>
<form class="layui-form" th:action="@{/stu/upd}">
    <div class="index">
        <ul class="menu">
            <li>
                <input  name="studid" type="hidden" th:value="${student.studid}"/>
            </li>
            <li>
                <input  name="password" type="hidden" th:value="${student.password}"/>
            </li>
            <li>
                <label class="layui-form-label">学生姓名：</label>
                <input  name="stuname" placeholder="学生姓名"  class="layui-input" th:value="${student.stuname}"/>
            </li>
            <li>
                <label class="layui-form-label">毕业学校：</label>
                <input  name="middleschool" placeholder="毕业学校" class="layui-input" th:value="${student.middleschool}"/>
            </li>
            <li>
                <label class="layui-form-label">性别</label>
                <input type="radio" name="sex" value="男" title="男" checked>
                <input type="radio" name="sex" value="女" title="女">
            </li>
            <li>
                <label class="layui-form-label">年龄：</label>
                <input  name="age" required lay-verify="required" placeholder="年龄" autocomplete="off" class="layui-input" th:value="${student.age}"/>
            </li>
            <li>
                <label class="layui-form-label">出生年月：</label>
                <input type="text" class="layui-input" id="test2" name="birthday" required lay-verify="required" placeholder="出生年月" th:value="${student.birthday}"/>
            </li>
            <li>
                <label class="layui-form-label">学生电话：</label>
                <input  name="phone" required lay-verify="required" placeholder="学生电话" autocomplete="off" class="layui-input" th:value="${student.phone}"/>
            </li>
            <li>
                <label class="layui-form-label">家庭地址：</label>
                <input  name="addr" required lay-verify="required" placeholder="家庭地址" autocomplete="off" class="layui-input" th:value="${student.addr}"/>
            </li>
            <li>
                <label class="layui-form-label">班级：</label>
                <input  name="clazz" required lay-verify="required" placeholder="班级" autocomplete="off" class="layui-input" th:value="${student.clazz}"/>
            </li>
            <li>
                <label class="layui-form-label">宿舍：</label>
                <input  name="huor" required lay-verify="required" placeholder="宿舍" autocomplete="off" class="layui-input" th:value="${student.huor}"/>
            </li>
            <li>
                <label class="layui-form-label">入学时间：</label>
                <input type="text" class="layui-input" id="test1" name="entertime" placeholder="入学时间" th:value="${student.entertime}">
            </li>

            <li>
                <label class="layui-form-label">介绍老师：</label>
                <input  name="introduretech" required lay-verify="required" placeholder="介绍老师" autocomplete="off" class="layui-input" th:value="${student.introduretech}"/>
            </li>
            <li>
                <label class="layui-form-label">学生状态：</label>
                <input  name="stat" required lay-verify="required" placeholder="学生状态" autocomplete="off" class="layui-input" th:value="${student.stat}"/>
            </li>
            <li>
                <label class="layui-form-label">民族：</label>
                <input  name="nation" required lay-verify="required" placeholder="民族" autocomplete="off" class="layui-input" th:value="${student.nation}"/>
            </li>
            <li>
                <label class="layui-form-label">籍贯：</label>
                <input  name="natives" required lay-verify="required" placeholder="籍贯" autocomplete="off" class="layui-input" th:value="${student.natives}"/>
            </li>
            <li>
                <label class="layui-form-label">户口性质：</label>
                <input  name="residence" required lay-verify="required" placeholder="户口性质" autocomplete="off" class="layui-input" th:value="${student.residence}"/>
            </li>
            <li>
                <label class="layui-form-label">身份证号：</label>
                <input  name="cardid" required lay-verify="required" placeholder="身份证号" autocomplete="off" class="layui-input" th:value="${student.cardid}"/>
            </li>
            <li>
                <label class="layui-form-label">就读专业：</label>
                <input  name="professional" required lay-verify="required" placeholder="就读专业" autocomplete="off" class="layui-input" th:value="${student.professional}"/>
            </li>
            <li>
                <label class="layui-form-label">专业类别：</label>
                <input  name="prolevel" required lay-verify="required" placeholder="专业类别" autocomplete="off" class="layui-input" th:value="${student.prolevel}"/>
            </li>
            <li>
                <label class="layui-form-label">学习类别：</label>
                <input  name="studytype" required lay-verify="required" placeholder="学习类别" autocomplete="off" class="layui-input" th:value="${student.studytype}"/>
            </li>
            <li>
                <label class="layui-form-label">家长姓名：</label>
                <input  name="parents" required lay-verify="required" placeholder="家长姓名" autocomplete="off" class="layui-input" th:value="${student.parents}"/>
            </li>
            <li>
                <label class="layui-form-label">家长电话：</label>
                <input  name="parentsphone" required lay-verify="required" placeholder="家长电话" autocomplete="off" class="layui-input" th:value="${student.parentsphone}"/>
            </li>
            <li>
                <label class="layui-form-label">面试人：</label>
                <input  name="audition" required lay-verify="required" placeholder="面试人" autocomplete="off" class="layui-input" th:value="${student.audition}"/>
            </li>
            <li>
                <label class="layui-form-label">面试意见：</label>
                <input  name="auditionoption" required lay-verify="required" placeholder="面试意见" autocomplete="off" class="layui-input" th:value="${student.auditionoption}"/>
            </li>
            <li>
                <label class="layui-form-label">是否中专</label>
                <input type="radio" name="isvocational" value="是" title="是"checked>
                <input type="radio" name="isvocational" value="否" title="否">
            </li>
            <li>
                <label class="layui-form-label">中专学校：</label>
                <input  name="vocationalsch" required lay-verify="required" placeholder="中专学校" autocomplete="off" class="layui-input" th:value="${student.vocationalsch}"/>
            </li>
            <li>
                <label class="layui-form-label">中专学籍：</label>
                <input  name="vocationalflag" required lay-verify="required" placeholder="中专学籍" autocomplete="off" class="layui-input" th:value="${student.vocationalflag}"/>
            </li>
            <li>
                <label class="layui-form-label">省录取号：</label>
                <input  name="enrollno" required lay-verify="required" placeholder="省录取号" autocomplete="off" class="layui-input" th:value="${student.enrollno}"/>
            </li>
            <li>
                <label class="layui-form-label">录取成绩：</label>
                <input  name="score" required lay-verify="required" placeholder="录取成绩" autocomplete="off" class="layui-input" th:value="${student.score}"/>
            </li>
            <li>
                <label class="layui-form-label">是否低保</label>
                <input type="radio" name="dibao" value="是" title="是" checked>
                <input type="radio" name="dibao" value="否" title="否">
            </li>
            <li>
                <label class="layui-form-label">生源类型：</label>
                <input  name="sourcetype" required lay-verify="required" placeholder="生源类型" autocomplete="off" class="layui-input" th:value="${student.sourcetype}"/>
            </li>
            <li>
                <label class="layui-form-label">担保人：</label>
                <input  name="guarantee" required lay-verify="required" placeholder="担保人" autocomplete="off" class="layui-input" th:value="${student.guarantee}"/>
            </li>
            <li>
                <label class="layui-form-label">是否当兵</label>
                <input type="radio" name="soldier" value="是" title="是" checked>
                <input type="radio" name="soldier" value="否" title="否">
            </li>
            <li>
                <label class="layui-form-label">报名号：</label>
                <input  name="registration" required lay-verify="required" placeholder="报名号" autocomplete="off" class="layui-input" th:value="${student.registration}"/>
            </li>
            <li>
                <label class="layui-form-label">是否住校</label>
                <input type="radio" name="zhuxiao" value="是" title="是" checked>
                <input type="radio" name="zhuxiao" value="否" title="否">
            </li>
            <li>
                <label class="layui-form-label">备注：</label>
                <input  name="remark" required lay-verify="required" placeholder="备注" autocomplete="off" class="layui-input" th:value="${student.remark}"/>
            </li>
            <li>
                <label class="layui-form-label">退学：</label>
                <input  name="tuixue" required lay-verify="required" placeholder="退学" autocomplete="off" class="layui-input" th:value="${student.tuixue}"/>
            </li>
            <li>
                <label class="layui-form-label">休学：</label>
                <input  name="xiuxue" required lay-verify="required" placeholder="休学" autocomplete="off" class="layui-input" th:value="${student.xiuxue}"/>
            </li>
            <li>
                <label class="layui-form-label">学号：</label>
                <input  name="stuno" required lay-verify="required" placeholder="学号" autocomplete="off" class="layui-input" th:value="${student.stuno}"/>
            </li>
            <li>
                <label class="layui-form-label">是否送电脑</label>
                <input type="radio" name="computer" value="是" title="是" checked>
                <input type="radio" name="computer" value="否" title="否">
            </li>
            <li>
                <label class="layui-form-label">是否领用</label>
                <input type="radio" name="collar" value="是" title="是" checked>
                <input type="radio" name="collar" value="否" title="否">
            </li>
            <li>
                <label class="layui-form-label">助学金：</label>
                <input  name="grants" required lay-verify="required" placeholder="助学金" autocomplete="off" class="layui-input" th:value="${student.grants}"/>
            </li>
            <li>
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
            </li>
        </ul>
    </div>

</form>
</body>
<script type="text/javascript" th:inline="none">
    layui.use('form', function(){
        var form = layui.form;
        var date= layui.laydate;
        laydate.render({
            elem: '#da'
            ,type: 'datetime'
        });
        //监听提交
        //你可以在这里做操作  也可以不使用这个方法
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#test2' //指定元素
        });
    });
</script>
</html>