<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/register/jquery-3.1.0.min.js}"></script>
</head>
<style>
    ::-webkit-scrollbar {display:none}
</style>
<body>
<form class="layui-form">
    <div class="layui-form-item" style="margin-top: 20px">
        <label class="layui-form-label">学生姓名</label>
        <div class="layui-input-block">
            <select name="sayface" lay-verify="required" id="sayface">
                <option value="" selected="">请选择学生</option>
                <option th:each="stu:${list}" th:value="${stu.studid}" th:text="${stu.stuname}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">谈心地址</label>
        <div class="layui-input-block">
            <input type="text" name="addr" required  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">谈心内容</label>
        <div class="layui-input-block">
            <textarea name="sayscon" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        //你可以在这里做操作  也可以不使用这个方法
        form.on('submit(formDemo)', function(data){
            var sayface=$('#sayface').val();
            if(sayface==0){
                alert('请选择学生！');
            }else {
                $.ajax({
                    url: '/chatrecord/addchat',
                    type: 'post',
                    data:data.field,
                    dataType: 'json',
                    success:function(data){
                        if(data){
                            layer.msg(JSON.stringify("添加成功"));
                            //先得到当前iframe层的索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //再执行关闭
                            parent.layer.close(index);
                            window.parent.location.reload();
                        }else {
                            alert('添加錯誤，已有5数据');
                            var index = parent.layer.getFrameIndex(window.name);
                            //再执行关闭
                            parent.layer.close(index);
                            window.parent.location.reload();
                        }
                    }
                });
            }
            //$('.layui-laypage-btn').click();//刷新
            return false;
        });
    });
</script>
</html>