<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/register/jquery-3.1.0.min.js}"></script>
</head>
<style>
    .index{width: 600px;margin-left: 30px;}
    .layui-input{width: 120px;}
    .menu li{float: left;}
    .layui-form-label{margin-top: 15px}
    .layui-input{margin-top: 15px}
    button{margin-left: 140px;margin-top: 20px;}

    ::-webkit-scrollbar {display:none}/*隐藏横向滚动条但可以滚动*/
</style>
<body>
<form class="layui-form" id="m_form">
    <div class="index">
        <ul class="menu">
            <input type="hidden" name="depid" th:value="${dep.depid}">
            <li>
                <label class="layui-form-label">部门名称：</label>
                <input id="name" name="depname" required lay-verify="required" placeholder="部门名称" autocomplete="off" class="layui-input" th:value="${dep.depname}">
            </li>


            <li>
                <div class="layui-input-inline">
                    <select name="parentid">
                        <option value="0" >请选择上级部门</option>
                        <option th:each="d:${deps}"th:value="${d.depid}" th:text="${d.depname}" th:selected="${d.depid == dep.parentid}">浙江省</option>
                    </select>
                </div>
            </li>

            <li>
                <div class="layui-input-inline">
                    <select name="chairman">
                        <option value="0">请选择部门负责人</option>
                        <option th:value="${dep.chairman}" th:text="${dep.empname}" selected="true">浙江省</option>
                        <option th:each="e:${emp}"th:value="${e.emp_id}" th:text="${e.emp_name}">浙江省</option>
                    </select>
                </div>
            </li>


            <li>
                <label class="layui-form-label">备注：</label>
                <input  name="remark" required lay-verify="required" placeholder="备注" autocomplete="off" class="layui-input" th:value="${dep.remark}">
            </li>

            <li>
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
            </li>
        </ul>
    </div>

</form>
</body>
<script type="text/javascript" th:inline="none">
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        //你可以在这里做操作  也可以不使用这个方法
        form.on('submit(formDemo)', function(data){

                    $.ajax({
                        url: '/dep/upd',
                        type: 'post',
                        data:data.field,
                        dataType: 'json',
                        success:function(data){
                            if(data){
                                layer.msg(JSON.stringify("修改成功"));
                                //先得到当前iframe层的索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //再执行关闭
                                parent.layer.close(index);
                                window.parent.location.reload();
                            }else {
                                $("#name").val("");
                                layer.msg('部门名称重复 修改失败', { icon: 5, time: 2000 });
                            }
                        },
                    })

            //$('.layui-laypage-btn').click();//刷新

            return false;
        });
    });
</script>
</html>