<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="skcats">
		<title></title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
        <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assets/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
        <link th:href="@{/assets/css/custom.css}" rel="stylesheet">
	</head>
	<style>
    .layui-table-page {
        text-align: center;
    }

    .utable .layui-laypage .layui-laypage-curr .layui-laypage-em {
        background-color: #1E9FFF;
    }
    .layui-input-inline{margin-left: 50px;}
    .layui-form-item{margin-top: 20px;}
    .layui-form-label{width: 80px;}
    .layui-table-view thead th {
        text-align: center;
        font-weight: bold;
    }
    .layui-table-view tbody td {
        text-align: center;
    }
	</style>
<body>
<!--数据表格样式及附件-->	
    <script type="text/html" id="bar">
    <a id="edit" class="layui-btn layui-btn-xs" lay-event="edit">
        <i class="layui-icon">&#xe642;</i><span class="falg">ON</span> 编辑
    </a>
    <a class="layui-btn layui-btn-xs" lay-event="data">
        <i class="layui-icon">&#xe6b2;</i>资料
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon">&#xe640;</i>丢弃
    </a>
	</script>
	<script type="text/html" id="sexTpl">
	    {{#  if(d.emp_sex === '女'){ }}
	    <span style="color: #F581B1;">{{ d.emp_sex }}</span>
	    {{#  } else { }}
	    {{ d.emp_sex }}
	    {{#  } }}
	</script>
 <!--搜索栏-->
  <div class="layui-form-item">
    <div class="layui-inline">
      
      <div class="layui-input-inline">
        <input type="text" name="number" lay-verify="required|number" autocomplete="off" class="layui-input">
      </div>
     <label class="layui-form-label">验证</label>
    </div>
    <div class="layui-inline">
     
      <div class="layui-input-inline">
        <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
      </div>
        <label class="layui-form-label">验证</label>
    </div>
    <div class="layui-inline">
      
      <div class="layui-input-inline">
        <input type="tel" name="url" lay-verify="url" autocomplete="off" class="layui-input">
      </div>
      <label class="layui-form-label">验证</label>
       <button type="button" class="btn btn-info btn-addon"><i class="fa fa-spin fa-refresh"></i> 查找</button>
        <button id="add" type="button" class="btn btn-info btn-warning"><i class="fa fa-plus"></i> 添加</button>
    </div>
  </div>

<!--数据表格  数据表格使用的是方法渲染-->
<div class="utable">
<table class="layui-table"
       lay-data="{width:1150,height:650, url:'/emp/empdata', page:true, id:'tab'}"
       lay-filter="tab">
    <thead>
    <tr>
        <th lay-data="{type: 'checkbox', fixed: 'left'}"></th>
        <th lay-data="{field:'emp_id', width:80, sort: true}">ID</th>
        <th lay-data="{field:'emp_name', width:80,edit: 'false'}">用户名</th>
        <th lay-data="{field:'emp_sex', width:80,templet: '#sexTpl', sort: true,edit: 'false'}">性别</th>
        <th lay-data="{field:'birthday', width:100}">生日</th>
        <th lay-data="{field:'cardno', width:100,edit: 'false'}">身份证</th>
        <th lay-data="{field:'address', width:100,edit: 'false'}">地区</th>
        <th lay-data="{field:'phone', width:100,edit: 'false'}">手机号码</th>
        <th lay-data="{field:'qqcode', width:100,edit: 'false'}">QQ</th>
        <th lay-data="{field:'nation', width:100,edit: 'false'}">籍贯</th>
        <th lay-data="{fixed: 'right', title:'操作', toolbar: '#bar', width:250}"></th>
    </tr>
    </thead>
</table>
</div>
</body>
<script th:src="@{/assets/plugins/jquery/jquery-3.1.0.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="none">

    layui.use('table', function () {
        var table = layui.table;

        //监听单元格编辑（修改）
        table.on('edit(tab)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            layer.msg(data.emp_name);
            $.ajax({
                url: '/emp/update',
                type: 'post',
                data: {
                    emp_id:data.emp_id,
                    emp_name:data.emp_name,
                    emp_sex:data.emp_sex,
                    // birthday:birthday,
                    cardno:data.cardno,
                    nation:data.nation,
                    phone:data.phone,
                    qqcode:data.qqcode,
                    address:data.address
                },
                dataType: 'text'
            })
        });


        //点击添加iframe窗方法
        $("#add").on('click',function(){
            //iframe窗
            layer.open({
                type: 2,
                title: '员工新增',
                maxmin: true, //开启最大化最小化按钮
                area: ['550px', '600px'],
                content: ['/emp/toadd']//这是链接你的页面地址 url
            });
        })

        //监听行工具事件
        table.on('tool(tab)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除么?', function (index) {
                    obj.del();
                    layer.close(index);
                    $.ajax({
                        url: '/emp/del',
                        type: 'post',
                        data: {
                            id:data.emp_id
                        },
                        success:function(data){
                            if(data){
                                layer.msg(JSON.stringify("删除成功"));
                            }else {

                            }
                        },
                        dataType: 'json',
                    })
                });
            } else if (obj.event == 'edit') {
                if($(".falg").html()=="ON"){
                    // 打开可编辑状态：
                    $(".layui-table").find('td').data('edit', true);
                    $(".falg").html("YES")

                }else {
                    $(".layui-table").find('td').data('edit', false);
                    $(".falg").html("ON")
                }

            } else if(obj.event= 'data'){

            }
        })
    });
</script>
</html>