<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Admin Dashboard Template">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="skcats">
    <title>证件上传</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
<style>
    .layui-table-page {
        text-align: center;
    }
    .layui-table-view thead th {
        text-align: center;
        font-weight: bold;
    }
    .layui-table-view tbody td {
        text-align: center;
    }
</style>
<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!--数据表格样式及附件-->
<script id="toolbarDemo" type="text/html">
    <div class="layui-btn-container">
        <button id="add" class="layui-btn layui-btn-sm">新增</button>
    </div>
</script>
<!--表内功能-->
<script id="bar" type="text/html">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="download">
        <i class="layui-icon">&#xe6b2;</i>下载
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon">&#xe640;</i>删除
    </a>
</script>
<!--表格-->
<div>
    <button class="layui-btn layui-btn-radius" onclick="javascript:history.back(-1);">返回员工</button>
    <input type="hidden" id="id" th:value="${id}">
</div>
<div class="utable">
    <table class="layui-table" id="demo" lay-filter="demo"></table>
</div>

</body>
<script th:src="@{/assets/plugins/jquery/jquery-3.1.0.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="none">
    layui.use('table', function () {
        var table = layui.table;
        var id = $('#id').val();
        //方法渲染
        table.render({
            elem: '#demo'
            ,id: 'tab'
            ,height: 560
            ,width: 1250
            ,url: '/emp/voucher?id='+id //数据接口
            ,page: true //开启分页
            ,toolbar: '#toolbarDemo'
            ,cols: [[ //表头
                {type: 'radio', title: '选择', fixed: 'left'}
                ,{field: 'annexid', title: '编号', width:80, sort: true}
                ,{field: 'seid', title: '员工名称', width:120}
                ,{field: 'annexname', title: '文件名称', width:60}
                ,{field: 'annexnames', title: '文件', width:100}
                ,{field: 'annexdate', title: '上传时间', width:100}
                ,{field: 'sessionname', title: '上传人', width:100}
                ,{field: 'remark', title: '说明', width:100}
                ,{fixed: 'right', title:'操作', toolbar: '#bar', width:310}
            ]]
        });
    });
</script>
</html>