<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="managerjs">
        <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assets/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
        <link th:href="@{/assets/plugins/icomoon/style.css}" rel="stylesheet">
        <link th:href="@{/assets/plugins/uniform/css/default.css}" rel="stylesheet"/>
        <link th:href="@{/assets/plugins/switchery/switchery.min.css}" rel="stylesheet"/>

        <!-- Theme Styles -->
        <link th:href="@{/assets/css/ecaps.min.css}" rel="stylesheet">
        <link th:href="@{/assets/css/custom.css}" rel="stylesheet">

            <!-- Styles -->
        <link th:href="@{/assets/css/lib/themify-icons.css}" rel="stylesheet">
        <link th:href="@{/assets/css/lib/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assets/css/lib/nixon.css}" rel="stylesheet">
        <link th:href="@{/assets/css/style.css}" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
        <script th:src="@{/layui/layui.js}"></script>


        <script th:src="@{/assets/plugins/jquery/jquery-3.1.0.min.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
        <script th:src="@{/assets/plugins/uniform/js/jquery.uniform.standalone.js}"></script>
        <script th:src="@{/assets/plugins/switchery/switchery.min.js}"></script>
        <script th:src="@{/assets/plugins/summernote-master/summernote.min.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js}"></script>
        <script th:src="@{/assets/js/ecaps.min.js}"></script>
        <script th:src="@{/assets/js/pages/form-elements.js}"></script>
    </div>

    <span th:fragment="indexjs">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assets/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
        <link th:href="@{/assets/plugins/icomoon/style.css}" rel="stylesheet">
        <link th:href="@{/assets/plugins/uniform/css/default.css}" rel="stylesheet"/>
        <link th:href="@{/assets/plugins/switchery/switchery.min.css}" rel="stylesheet"/>
        <link th:href="@{/assets/plugins/nvd3/nv.d3.min.css}" rel="stylesheet">

        <!-- Theme Styles -->
        <link th:href="@{/assets/css/ecaps.min.css}" rel="stylesheet">
        <link th:href="@{/assets/css/custom.css}" rel="stylesheet">

        <!-- Javascripts -->
        <script th:src="@{/assets/plugins/jquery/jquery-3.1.0.min.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
        <script th:src="@{/assets/plugins/uniform/js/jquery.uniform.standalone.js}"></script>
        <script th:src="@{/assets/plugins/switchery/switchery.min.js}"></script>
        <script th:src="@{/assets/plugins/d3/d3.min.js}"></script>
        <script th:src="@{/assets/plugins/nvd3/nv.d3.min.js}"></script>
        <script th:src="@{/assets/plugins/flot/jquery.flot.min.js}"></script>
        <script th:src="@{/assets/plugins/flot/jquery.flot.time.min.js}"></script>
        <script th:src="@{/assets/plugins/flot/jquery.flot.symbol.min.js}"></script>
        <script th:src="@{/assets/plugins/flot/jquery.flot.resize.min.js}"></script>
        <script th:src="@{/assets/plugins/flot/jquery.flot.tooltip.min.js}"></script>
        <script th:src="@{/assets/plugins/flot/jquery.flot.pie.min.js}"></script>
        <script th:src="@{/assets/plugins/chartjs/chart.min.js}"></script>
        <script th:src="@{/assets/js/ecaps.min.js}"></script>
        <script th:src="@{/assets/js/pages/dashboard.js}"></script>

    </span>
</body>
</html>