<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
		<script th:src="@{/layui/layui.js}"></script>
		<script th:src="@{/js/register/jquery-3.1.0.min.js}"></script>
	</head>
	<style>
		::-webkit-scrollbar {display:none}/*隐藏横向滚动条但可以滚动*/
	</style>
	<body>
	<form class="layui-form" th:action="@{/trial/trialadd}">
		<div class="layui-form-item">
			<label class="layui-form-label">输入框</label>
			<div class="layui-input-block">
				<input name="date" type="text" class="layui-input" id="test1">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">星期</label>
			<div class="layui-input-block">
				<select name="time" lay-verify="required">
					<option value="星期一">星期一</option>
					<option value="星期二">星期二</option>
					<option value="星期三">星期三</option>
					<option value="星期四">星期四</option>
					<option value="星期五">星期五</option>
					<option value="星期六">星期六</option>
					<option value="星期七">星期日</option>
				</select>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">课程名称</label>
			<div class="layui-input-block">
				<select name="courseid" lay-verify="required">
					<option th:each="c:${clist}" th:value="${c.courseid}" th:text="${c.coursename}">张先生</option>
				</select>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">授课类型</label>
			<div class="layui-input-block">
				<select name="type" lay-verify="required">
					<option value="试讲">试讲</option>
					<option value="培训">培训</option>
				</select>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">教师姓名</label>
			<div class="layui-input-block">
				<select name="empid" lay-verify="required">
					<option th:each="e:${elist}" th:value="${e.emp_id}" th:text="${e.emp_name}">张先生</option>
				</select>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<input type="text" name="remark" required  lay-verify="required" placeholder="备注" autocomplete="off" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="formDemo" onclick="gbi()">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
	</body>
	<script th:src="@{/assets/plugins/jquery/jquery-3.1.0.min.js}"></script>
	<script th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:inline="none">

        function gbi() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            window.parent.location.reload();

        }

        layui.use('form', function(){
            var form = layui.form;

            //监听提交
            //你可以在这里做操作  也可以不使用这个方法
            // form.on('submit(formDemo)', function(data){
            //   layer.msg(JSON.stringify(data.field));
            //   return false;
            // });
        });

        layui.use('laydate', function(){
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#test1' //指定元素
            });
        });
	</script>
</html>
