<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/register/jquery-3.1.0.min.js}"></script>
</head>
<style>
    .index{width: 600px;margin-left: 30px;}
    .layui-input{width: 120px;}
    .menu li{float: left;}
    .layui-form-label{margin-top: 15px}
    .layui-input{margin-top: 15px}
    button{margin-left: 140px;margin-top: 20px;}

    ::-webkit-scrollbar {display:none}/*隐藏横向滚动条但可以滚动*/
</style>
<body>
<form class="layui-form" th:action="@{/trial/trialupd}" method="post">
    <div class="index">
        <ul class="menu">
            <input type="hidden" name="trialid" th:value="${trial.trialid}">
            <li>
                <label class="layui-form-label">日期：</label>
                <input name="date" required lay-verify="required" autocomplete="off" class="layui-input" th:value="${trial.date}">
            </li>
            <li>
                <label class="layui-form-label"><i class="layui-icon">&#xe627;</i> 星期：</label>
                <select name="time" lay-filter="mySelect">
                    <option value="星期一" th:selected="${'星期一'==trial.time}">星期一</option>
                    <option value="星期二" th:selected="${'星期二'==trial.time}">星期二</option>
                    <option value="星期三" th:selected="${'星期三'==trial.time}">星期三</option>
                    <option value="星期四" th:selected="${'星期四'==trial.time}">星期四</option>
                    <option value="星期五" th:selected="${'星期五'==trial.time}">星期五</option>
                    <option value="星期六" th:selected="${'星期六'==trial.time}">星期六</option>
                    <option value="星期日" th:selected="${'星期日'==trial.time}">星期日</option>
                </select>
            </li>
            <li>
                <label class="layui-form-label"><i class="layui-icon">&#xe627;</i> 课程/章节</label>
                <select name="courseid" lay-filter="mySelect">
                    <option th:each="c:${coulist}" th:value="${c.courseid}" th:text="${c.coursename}" th:selected="${trial.courseid==c.courseid}">张先生</option>
                </select>
            </li>
            <li>
                <label class="layui-form-label"><i class="layui-icon">&#xe627;</i> 授课类型：</label>
                <select name="type">
                    <option value="试讲" th:selected="${'试讲'==trial.type}">试讲</option>
                    <option value="培训" th:selected="${'培训'==trial.type}">培训</option>
                </select>
            </li>
            <li>
                <label class="layui-form-label"><i class="layui-icon">&#xe627;</i> 授课老师</label>
                <select name="empid" lay-filter="mySelect">
                    <option th:each="e:${emplist}" th:value="${e.emp_id}" th:text="${e.emp_name}" th:selected="${trial.empid==e.emp_id}">张先生</option>
                </select>
            </li>
            <li>
                <label class="layui-form-label"><i class="layui-icon">&#xe715;</i> 备注：</label>
                <input  name="remark" required lay-verify="required" autocomplete="off" class="layui-input" th:value="${trial.remark}">
            </li>
            <li>
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
            </li>
        </ul>
    </div>

</form>
</body>
<script type="text/javascript" th:inline="none">
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        // 你可以在这里做操作  也可以不使用这个方法
        // form.on('submit(formDemo)', function(data){
        //     layer.msg(JSON.stringify("修改成功"));
        //     layer.close(index);
        //     return true;
        // });
    });
</script>
</html>