<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.education.CoursetypeMapper">
  <resultMap id="BaseResultMap" type="com.ht.bean.education.Coursetype">
    <!--@mbg.generated-->
    <!--@Table coursetype-->
    <id column="courseTypeId" jdbcType="INTEGER" property="coursetypeid" />
    <result column="courseTypeName" jdbcType="VARCHAR" property="coursetypename" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    courseTypeId, courseTypeName, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from coursetype
    where courseTypeId = #{coursetypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from coursetype
    where courseTypeId = #{coursetypeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.bean.education.Coursetype">
    <!--@mbg.generated-->
    insert into coursetype (courseTypeId, courseTypeName, remark
      )
    values (#{coursetypeid,jdbcType=INTEGER}, #{coursetypename,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.bean.education.Coursetype">
    <!--@mbg.generated-->
    insert into coursetype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="coursetypeid != null">
        courseTypeId,
      </if>
      <if test="coursetypename != null">
        courseTypeName,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="coursetypeid != null">
        #{coursetypeid,jdbcType=INTEGER},
      </if>
      <if test="coursetypename != null">
        #{coursetypename,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.bean.education.Coursetype">
    <!--@mbg.generated-->
    update coursetype
    <set>
      <if test="coursetypename != null">
        courseTypeName = #{coursetypename,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where courseTypeId = #{coursetypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.bean.education.Coursetype">
    <!--@mbg.generated-->
    update coursetype
    set courseTypeName = #{coursetypename,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where courseTypeId = #{coursetypeid,jdbcType=INTEGER}
  </update>

  <!--查询总数据-->
  <select id="selCountEdu" resultType="int">
    select count(*) from coursetype;
  </select>

  <!--分页查询-->
  <select id="selbypage" resultType="coursetype">
    <![CDATA[
          select * from coursetype limit #{startRow},#{pageSize};
        ]]>
  </select>
</mapper>