<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.education.TrialMapper">
  <resultMap id="BaseResultMap" type="com.ht.bean.education.Trial">
    <!--@mbg.generated-->
    <!--@Table trial-->
    <id column="trialid" jdbcType="INTEGER" property="trialid" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="courseid" jdbcType="INTEGER" property="courseid" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="empid" jdbcType="INTEGER" property="empid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    trialid, `date`, `time`, courseid, `type`, empid, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from trial
    where trialid = #{trialid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from trial
    where trialid = #{trialid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.bean.education.Trial">
    <!--@mbg.generated-->
    insert into trial (trialid, `date`, `time`, 
      courseid, `type`, empid, 
      remark)
    values (#{trialid,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{courseid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{empid,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.bean.education.Trial">
    <!--@mbg.generated-->
    insert into trial
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trialid != null">
        trialid,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="time != null">
        `time`,
      </if>
      <if test="courseid != null">
        courseid,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="empid != null">
        empid,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trialid != null">
        #{trialid,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="empid != null">
        #{empid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.bean.education.Trial">
    <!--@mbg.generated-->
    update trial
    <set>
      <if test="date != null">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null">
        courseid = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="empid != null">
        empid = #{empid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where trialid = #{trialid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.bean.education.Trial">
    <!--@mbg.generated-->
    update trial
    set `date` = #{date,jdbcType=VARCHAR},
      `time` = #{time,jdbcType=VARCHAR},
      courseid = #{courseid,jdbcType=INTEGER},
      `type` = #{type,jdbcType=VARCHAR},
      empid = #{empid,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where trialid = #{trialid,jdbcType=INTEGER}
  </update>

  <!--查询总数据-->
  <select id="selTroal" resultType="int">
    select count(*) from trial
  </select>

  <!--&lt;!&ndash;分页查询&ndash;&gt;-->
  <!--<select id="selbypage" resultType="trial">-->
    <!--<![CDATA[-->
          <!--select * from trial limit #{startRow},#{pageSize};-->
        <!--]]>-->
  <!--</select>-->

  <!--分页查询-->
  <select id="selbypage" resultType="map">
    <![CDATA[
          select * from trial, course, empinfo
          WHERE trial.courseid = course.courseid AND trial.empid = empinfo.emp_Id
          ORDER by trialid desc limit #{startRow},#{pageSize}
        ]]>
  </select>

  <!--查询课程管理-->
  <select id="selCou" resultType="course">
    select * from course;
  </select>

  <!--查询emp-->
  <select id="selEmp" resultType="empinfo">
    select * from empinfo;
  </select>

  <!--模糊分页查询  like concat(#{trial.date})-->
  <select id="mhtri" resultType="map">
    <bind name="kais" value="(pager.currPage-1)*pager.pageSize"></bind>
          select * from trial, course, empinfo
          WHERE trial.courseid = course.courseid AND trial.empid = empinfo.emp_Id

           <if test="trial.date!=null and trial.date!=''">
             AND trial.date like concat("%",#{trial.date},"%")
           </if>

          ORDER by trialid desc limit #{kais},#{pager.pageSize}
  </select>
</mapper>