<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/register/jquery-3.1.0.min.js}"></script>
</head>
<style>
    ::-webkit-scrollbar {display:none}/*隐藏横向滚动条但可以滚动*/
</style>
<body>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">考核内容</label>
        <div class="layui-input-block">
            <input type="text" name="aduitname" placeholder="请输入考核内容" lay-verify="title" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">部门</label>
        <div class="layui-input-inline">
            <select name="depid" lay-verify="required" lay-filter="selectTheme" id="board">
                <option value="-1">请选择上级部门</option>
                <option th:each="dep:${deps}"th:value="${dep.depid}" th:text="${dep.depname}"></option>
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="depid2" id="theme">
                <option value="0">请选择下级部门</option>
              </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">考核分数</label>
        <div class="layui-input-block">
            <select name="scores">
                <option value="0">请选择考核分数</option>
                <option value="-1" >-1</option>
                <option value="-2" >-2</option>
                <option value="-3" >-3</option>
                <option value="-4" >-4</option>
                <option value="-5" >-5</option>
                <option value="-10" >-10</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">说明</label>
        <div class="layui-input-block">
            <input type="text" name="remark" lay-verify="title" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
        </div>
    </div>
</form>
</body>
<script type="text/javascript" th:inline="none">

    layui.use('form', function(){
        var form = layui.form;



        form.on('select(selectTheme)', function (data) {//对应lay-filter="selectTheme"
            var index1 = $('#board option:selected').val();//对应id="board"  得到一级菜单选中值的value
            var optionJson = [];
            $.ajax({
                url: "/aduitmodel/getdep",//对应controller层
                type: "post",
                data: {"id": index1},//将选中值的value传给controller
                datatype: "json",
                success: function (data) {
                    optionJson = data;
                    var selectObj = document.getElementById("theme");//对应id="theme"
                    selectObj.options.length = 0;
                    selectObj.add(new Option("请选择下级部门",0))
                    for (var i = 0; i < data.length; i++) {
                        selectObj.add(new Option(optionJson[i].depname, optionJson[i].depid));//对应数据库中名字，两个参数是(文本,value)
                    }
                    form.render();
                }
            })
        });

        //监听提交
        //你可以在这里做操作  也可以不使用这个方法
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url: '/aduitmodel/add',
                type: 'post',
                data:data.field,
                dataType: 'json',
                success:function(data){
                    if(data){
                        layer.msg(JSON.stringify("添加成功"));
                        //先得到当前iframe层的索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //再执行关闭
                        parent.layer.close(index);
                        window.parent.location.reload();
                    }else {
                        layer.msg('添加失败', { icon: 5, time: 2000 });
                    }
                },
            })
            //$('.layui-laypage-btn').click();//刷新
            return false;
        });
    });
</script>
</html>