<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.aduit.EquipmentwxglMapper">
  <resultMap id="BaseResultMap" type="com.ht.bean.aduit.Equipmentwxgl">
    <!--@mbg.generated-->
    <!--@Table equipmentwxgl-->
    <id column="wxid" jdbcType="INTEGER" property="wxid" />
    <result column="equipmenttype" jdbcType="VARCHAR" property="equipmenttype" />
    <result column="usertype" jdbcType="VARCHAR" property="usertype" />
    <result column="wxcategory" jdbcType="VARCHAR" property="wxcategory" />
    <result column="starttime" jdbcType="VARCHAR" property="starttime" />
    <result column="endtime" jdbcType="VARCHAR" property="endtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    wxid, equipmenttype, usertype, wxcategory, starttime, endtime, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from equipmentwxgl
    where wxid = #{wxid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from equipmentwxgl
    where wxid = #{wxid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="wxid" keyProperty="wxid" parameterType="com.ht.bean.aduit.Equipmentwxgl" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into equipmentwxgl (equipmenttype, usertype, wxcategory, 
      starttime, endtime, `status`
      )
    values (#{equipmenttype,jdbcType=VARCHAR}, #{usertype,jdbcType=VARCHAR}, #{wxcategory,jdbcType=VARCHAR},
      #{starttime,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="wxid" keyProperty="wxid" parameterType="com.ht.bean.aduit.Equipmentwxgl" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into equipmentwxgl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmenttype != null">
        equipmenttype,
      </if>
      <if test="usertype != null">
        usertype,
      </if>
      <if test="wxcategory != null">
        wxcategory,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmenttype != null">
        #{equipmenttype,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="wxcategory != null">
        #{wxcategory,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.bean.aduit.Equipmentwxgl">
    <!--@mbg.generated-->
    update equipmentwxgl
    <set>
      <if test="equipmenttype != null">
        equipmenttype = #{equipmenttype,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        usertype = #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="wxcategory != null">
        wxcategory = #{wxcategory,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where wxid = #{wxid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.bean.aduit.Equipmentwxgl">
    <!--@mbg.generated-->
    update equipmentwxgl
    set equipmenttype = #{equipmenttype,jdbcType=VARCHAR},
      usertype = #{usertype,jdbcType=VARCHAR},
      wxcategory = #{wxcategory,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=VARCHAR},
      endtime = #{endtime,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER}
    where wxid = #{wxid,jdbcType=INTEGER}
  </update>

  <!--查询总数据-->
  <select id="selEqui" resultType="int">
    select count(*) from equipmentwxgl;
  </select>

  <!--分页查询-->
  <select id="selbypage" resultType="equipmentwxgl">
    <![CDATA[
          select * from equipmentwxgl ORDER by wxid desc limit #{startRow},#{pageSize};
        ]]>
  </select>

  <!--查询班级-->
  <select id="selclass" resultType="studentclass">
    select * from studentclass;
  </select>

  <!--查询部门-->
  <select id="seldep" resultType="dep">
    select * from dep;
  </select>
</mapper>