<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.aduit.MaintainMapper">
  <resultMap id="BaseResultMap" type="com.ht.bean.aduit.Maintain">
    <!--@mbg.generated-->
    <!--@Table maintain-->
    <id column="wxid" jdbcType="INTEGER" property="wxid" />
    <result column="equipmenttype" jdbcType="VARCHAR" property="equipmenttype" />
    <result column="starttime" jdbcType="VARCHAR" property="starttime" />
    <result column="endtime" jdbcType="VARCHAR" property="endtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="classno" jdbcType="INTEGER" property="classno" />
    <result column="depid" jdbcType="INTEGER" property="depid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="emp_id" jdbcType="INTEGER" property="emp_id" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    wxid, equipmenttype, starttime, endtime, `status`, classno, depid ,remark ,emp_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from maintain
    where wxid = #{wxid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from maintain
    where wxid = #{wxid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="wxid" keyProperty="wxid" parameterType="com.ht.bean.aduit.Maintain" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into maintain (equipmenttype, starttime, endtime, 
      `status`, classno, depid , remark , emp_id
      )
    values (#{equipmenttype,jdbcType=VARCHAR}, #{starttime,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{classno,jdbcType=INTEGER}, #{depid,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{emp_id,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="wxid" keyProperty="wxid" parameterType="com.ht.bean.aduit.Maintain" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into maintain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmenttype != null">
        equipmenttype,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="classno != null">
        classno,
      </if>
      <if test="depid != null">
        depid,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="emp_id != null">
        emp_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmenttype != null">
        #{equipmenttype,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="classno != null">
        #{classno,jdbcType=INTEGER},
      </if>
      <if test="depid != null">
        #{depid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="emp_id != null">
        #{emp_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.bean.aduit.Maintain">
    <!--@mbg.generated-->
    update maintain
    <set>
      <if test="equipmenttype != null">
        equipmenttype = #{equipmenttype,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="classno != null">
        classno = #{classno,jdbcType=INTEGER},
      </if>
      <if test="depid != null">
        depid = #{depid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=INTEGER},
      </if>
      <if test="emp_id != null">
        emp_id = #{emp_id,jdbcType=INTEGER},
      </if>
    </set>
    where wxid = #{wxid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.bean.aduit.Maintain">
    <!--@mbg.generated-->
    update maintain
    set equipmenttype = #{equipmenttype,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=VARCHAR},
      endtime = #{endtime,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      classno = #{classno,jdbcType=INTEGER},
      depid = #{depid,jdbcType=INTEGER},
    remark = #{remark,jdbcType=VARCHAR},
    emp_id = #{emp_id,jdbcType=INTEGER}
    where wxid = #{wxid,jdbcType=INTEGER}
  </update>

  <!--查询总数据-->
  <select id="selMain" resultType="int">
    select count(*) from maintain;
  </select>

  <!--分页查询-->
  <select id="selbypage" resultType="map">
    <bind name="kais" value="(currPage-1)*pageSize"></bind>
    <![CDATA[
           select * from maintain,studentclass,dep,empinfo
          where maintain.classno = studentclass.classno
          and maintain.depid = dep.depid
		  and maintain.emp_Id = empinfo.emp_Id
          ORDER by wxid desc limit #{kais},#{pageSize}
        ]]>
  </select>

  <!--查询班级-->
  <select id="selclass" resultType="studentclass">
    select * from studentclass;
  </select>

  <!--查询部门-->
  <select id="seldep" resultType="dep">
    select * from dep;
  </select>

  <!--分页模糊查询-->
  <select id="mhmain" resultType="Map">
    <bind name="kais" value="(pager.currPage-1)*pager.pageSize"></bind>
    select * from maintain,studentclass,dep,empinfo
    where maintain.classno = studentclass.classno
    and maintain.depid = dep.depid
    and maintain.emp_Id = empinfo.emp_Id

      <if test="maintain.equipmenttype!=null and maintain.equipmenttype!=''">
        and equipmenttype like concat("%",#{maintain.equipmenttype},"%")
      </if>

    order by wxid desc limit #{kais},#{pager.pageSize}
  </select>


  <!--session id模糊查询-->
  <select id="byidpage" resultType="java.util.Map">
    <bind name="kais" value="(pager.currPage-1)*pager.pageSize"></bind>

    select a.*,b.className,c.depName,d.emp_Name from maintain a
    left join studentclass b on a.classno = b.classid
    left join empinfo d on a.emp_Id = d.emp_Id
    left join dep c on a.depid = c.depid
    where a.emp_Id = #{empid}

    <if test="maintain.status!=null and maintain.status!=''">
      AND a.status like concat("%",#{maintain.status},"%")
    </if>

    ORDER by a.wxid desc limit #{kais},#{pager.pageSize}


  </select>
  <!--id 分页模糊查询总数据-->
  <select id="byid" resultType="int">
    select count(*) from maintain where emp_Id = #{emp_id};
  </select>
</mapper>