<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.student.ReplyscoreMapper">
  <resultMap id="BaseResultMap" type="com.ht.bean.student.Replyscore">
    <!--@mbg.generated-->
    <!--@Table replyscore-->
    <result column="replyid" jdbcType="INTEGER" property="replyid" />
    <result column="empid" jdbcType="INTEGER" property="empid" />
    <result column="clazz" jdbcType="VARCHAR" property="clazz" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    replyid, empid, clazz
  </sql>
  <insert id="insert" parameterType="com.ht.bean.student.Replyscore">
    <!--@mbg.generated-->
    insert into replyscore (replyid, empid, clazz
      )
    values (#{replyid,jdbcType=INTEGER}, #{empid,jdbcType=INTEGER}, #{clazz,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.bean.student.Replyscore">
    <!--@mbg.generated-->
    insert into replyscore
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="replyid != null">
        replyid,
      </if>
      <if test="empid != null">
        empid,
      </if>
      <if test="clazz != null">
        clazz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="replyid != null">
        #{replyid,jdbcType=INTEGER},
      </if>
      <if test="empid != null">
        #{empid,jdbcType=INTEGER},
      </if>
      <if test="clazz != null">
        #{clazz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>