<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.student.StudentfloorMapper">
  <resultMap id="BaseResultMap" type="com.ht.bean.student.Studentfloor">
    <!--@mbg.generated-->
    <!--@Table studentfloor-->
    <id column="floorId" jdbcType="INTEGER" property="floorid" />
    <result column="floorName" jdbcType="VARCHAR" property="floorname" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    floorId, floorName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from studentfloor
    where floorId = #{floorid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from studentfloor
    where floorId = #{floorid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="floorId" keyProperty="floorid" parameterType="com.ht.bean.student.Studentfloor" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into studentfloor (floorName)
    values (#{floorname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="floorId" keyProperty="floorid" parameterType="com.ht.bean.student.Studentfloor" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into studentfloor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="floorname != null">
        floorName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="floorname != null">
        #{floorname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.bean.student.Studentfloor">
    <!--@mbg.generated-->
    update studentfloor
    <set>
      <if test="floorname != null">
        floorName = #{floorname,jdbcType=VARCHAR},
      </if>
    </set>
    where floorId = #{floorid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.bean.student.Studentfloor">
    <!--@mbg.generated-->
    update studentfloor
    set floorName = #{floorname,jdbcType=VARCHAR}
    where floorId = #{floorid,jdbcType=INTEGER}
  </update>

  <!--  分页-->
  <select id="sybase" resultType="com.ht.bean.student.Studentfloor">
    <bind name="kais" value="(currPage-1)*pageSize"></bind>
    select * from studentfloor limit #{kais},#{pageSize}
  </select>
  <!--  查询总数-->
  <select id="selCount" resultType="int">
      select count(*) from studentfloor
  </select>

  <!--  查询所有-->
  <select id="selList" resultType="com.ht.bean.student.Studentfloor">
        select * from studentfloor
    </select>
</mapper>